/* **************Ankit's CSS************ */
.post{
  background-color: white;
width: 35.3vw;
margin: auto;
 border-radius: 1rem;
}

.post hr{
  visibility: hidden;
}

.caption{
  text-align: left;

}

.post-img-box{
  border-radius: 1rem;
  height: 65%;
  width: 90%;
  margin: auto;
}

.post-img{
  width: 100%;
  height: 100%;
   border-radius: 1rem;
}

.emote{
  color: #32A89C;
}

.comment-text{
  width: 30vw;
  border-radius: 0.78rem;
}


.activity{
  background-color: white;
  width: 19.2vw;
  border-radius: 1rem;
}

.activity div{
  text-align: left;
}

.activity p{
  margin-left: 5%;
}

.activity hr{
  visibility: hidden;
}


.searched-users{
  width: 80%;
  margin: auto;
}

.signup hr{
  visibility: hidden;
}

/* *******Ansh's CSS********** */
.bgColor{
background-color: rgb(213 213 213);
}
*{
  padding:0px;
  margin:0px;
  font-family: cursive;
}

.logo{
  height: 20px;
  width: 20px;
}
.circle{
  border: 1px solid black;
  width: 33px;
  height: 30px;
  border-radius: 50%;

}
.size{
  width: 10%;
}
.profileImg{
  height: 114px;
  border: 1px solid black;
  width: 36%;
  border-radius: 55%;
  position: relative;
  left: 32%;
  bottom: 55px;
}
.backgroundImg{
  width: 100%;
  border-radius: 4%;
}
.profileContainer{
  background-color: white;
  border-radius: 4%;
  height: 63vh;;
}
.profileName{
  text-align:center;
  position: relative;
  bottom:40px;
  font-weight: bold;
  font-size: 29px;
}
.profileStatus{
  text-align:center;
  position: relative;
  bottom:60px;
  font-size:19px;
  color: rgb(114, 104, 104);
}
.profileViewsNo{
  text-align:center;
  position: relative;
  bottom:40px;
  font-weight: bold;
  font-size: 29px;
  color: rgb(114, 104, 104);
}
.profileViewsText{
  text-align:center;
  position: relative;
  bottom:40px;
  font-size: 16px;
  color: rgb(114, 104, 104);
}
.searchBar{
  background-color: white;
  height: 8vh;
  border-radius: 1vw;
}
.col2Size{
  width: 37vw;
}
.search{
  border-radius: 3vw;
  position: relative;
  top: 1vh;
  width: 17vw;
  right: 2vw;
}
.searchInput{
  position: relative;
  top: 13%;
  height: 4vh;
  border-radius: 3vw;
  border: 0;
}
.imageIcon{
  color: rgba(81, 149, 12, 0.952);
  font-size: 4vh;
  position: relative;
  top: 0.4vh;
}
.imageText{
  color: rgb(78, 83, 85);
  font-size: 2.3vh;
  position: relative;
  top: 2.2vh;
  left: 1.3vw;
}
.searchIcon{
  position: relative;
    left: 47%;
    font-size:3vh;
}
.searchIcon1{
  position: relative;
    left: 38%;
    font-size:3vh;
}
.addFriendInSuggestion{
  color: blue;
}
